<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>FrunaMovil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <br>

  <div class="login-container">
    <ion-card class="ionCard">
      <ion-card-content>
        <h2 class="login-title">Iniciar Sesión</h2>
        <ion-item class="ionItem">
          <ion-input
            [(ngModel)]="login.Usuario"
            type="email"
            label="Email"
            labelPlacement="floating"
            ngModel
            email
          ></ion-input>
        </ion-item>
        <ion-item class="ionItem">
          <ion-input
            [(ngModel)]="login.Contrasena"
            type="password"
            label="Contraseña"
            labelPlacement="floating"
            ngModel
            password
          ><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
        </ion-item>
        <ion-button class="ionBu" shape="block" (click)="ingresar()">Ingresar</ion-button>
        <a [routerLink]="['/recuperar']"> ¿Olvido la contraseña?</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
